.image-upload {
    position: relative;
    text-align: left;
    border: 2px dashed #ccc;
    border-radius: 5px;
}

.image-uploads img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.image-uploads h4 {
    margin: 0;
    color: #6c757d;
}

.image-upload input[type="file"] {
    display: none;
}

.image-upload label {
    margin: 0;
}



.form-group {
    margin-bottom: 1.5rem;
}